/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*
==============================================
slideLeft
==============================================
*/


.slideLeft{
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;  

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@keyframes slideLeft {
  0% {
    transform: translateX(110%);
  }
  80%{
    transform: translateX(-1%);
  }
  90%{
    transform: translateX(1%);
  }
  100%{
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(110%);
  }
  80%{
    transform: translateX(-1%);
  }
  90%{
    transform: translateX(1%);
  }
  100%{
    transform: translateX(0%);
  }
}

/*
==============================================
slideRight
==============================================
*/

main {
  width: 100%;
}


h2 {
  font-family: 'Mogra';
  font-size: 1.5em;
}

p {
  font-family: 'Asap';
  font-size: 0.8em;
}


.top-section {
  width: 100%;
}

.bottom-section {
  margin: 30px 70px;
}

.close-button img {
  position: fixed;
  height: 25px;
  width: 25px;
  margin: 15px;
}

.intro {
  width: 65%;
  margin: 0 auto;
}

.intro p {
  font-family: 'Asap';
  font-size: 1.2em;
}


