.products-section {
  width: 100%;
}

.products-section .row {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 3% 0%;
}

.products-section .row .product {
  flex: 0 0 30%;
}